{{!< default}}

{{#post}}
<section class="subscribe-page">
  {{> petals-cluster location="subscribe"}}
  <div class="label-mono">JOIN THE LETTER SERIES</div>
  <h1>Subscribe to {{@site.title}}.</h1>
  <div class="desc">{{content}}</div>

  <form data-members-form="signup">
    <input type="email" name="email" placeholder="your@email.com" required />
    <button type="submit">Subscribe</button>
  </form>
  <p class="fineprint">No spam, ever. Unsubscribe in one click.</p>
</section>
{{/post}}
