{{!< default}}

{{#post}}
<article class="post-full">
  <h1>{{title}}</h1>
  {{#if feature_image}}
    <img class="feature-image" src="{{img_url feature_image size="xl"}}" alt="{{title}}" />
  {{/if}}
  <div class="post-content">{{content}}</div>
</article>
{{/post}}
